{% extends 'BellonBundle::layout.html.twig' %}

{% block meta_tags %}
    <title>{{ meta_title | raw }}</title>
    <meta name="description" content="{{ meta_description | raw }}">
    <meta name="keywords" content="{{ meta_keywords | raw }}">
{%  endblock meta_tags %}

{% block content %}
    <!-- main container -->
    <div class="container">

        <div class="row-fluid about">
            <div class="span8">
                {{ about.value | raw }}
            </div>
        </div>
        <!-- / row-fluid -->

    </div>
    <!-- /  container -->
{% endblock content %}