<div id="footer">
    <div class="footNotes">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <p>{{ footerDescription.value | raw }}</p>
                </div>
                <div class="span4">
                    <p>{{ address.value | raw }}</p>
                </div>
                <div class="span4 doRight">
                    <p>{{ footerCopyright.value | raw }}</p>
                </div>
            </div>
            <!-- / row-fluid -->
        </div>
    </div>
    <!-- / footNotes -->
</div>
<!-- / footer -->